# Git LFS tracking is handled automatically by pre-commit hook for files >50MB
SlipNet-v2.5.2-lite-release-arm64-v8a.apk !text !filter !merge !diff
Tonkeeper.apk !text !filter !merge !diff
latest-release-downloads-20260418_152457/DnsTtXyz/DNSTT-Client-v2.2.0-Android-arm64-v8a.apk !text !filter !merge !diff
latest-release-downloads-20260418_152457/GNet/GNet-universal.apk !text !filter !merge !diff
latest-release-downloads-20260418_152457/Hiddify/Hiddify-Debian-x64.deb !text !filter !merge !diff
latest-release-downloads-20260418_152457/Kabootar/Kabootar-client-android-arm64-v8a-v0.7.2.apk !text !filter !merge !diff
latest-release-downloads-20260418_152457/MahsaAlert/V10.zip !text !filter !merge !diff
latest-release-downloads-20260418_152457/Oblivion/oblivion-v7-signed.apk !text !filter !merge !diff
latest-release-downloads-20260418_152457/ShiroKhorshid/ShirOKhorshid-2026.03.17.apk !text !filter !merge !diff
latest-release-downloads-20260418_152457/SlipNet/SlipNet-v2.5.2-full-release-arm64-v8a.apk !text !filter !merge !diff
latest-release-downloads-20260418_152457/SniSpoofing/v1.0.zip !text !filter !merge !diff
latest-release-downloads-20260418_152457/Termux/termux-app_v0.118.3+github-debug_arm64-v8a.apk !text !filter !merge !diff
latest-release-downloads-20260418_152457/theFeed/thefeed-android-arm64.apk !text !filter !merge !diff
latest-release-downloads-20260418_152457/v2rayNG/v2rayNG_2.0.18-fdroid_arm64-v8a.apk !text !filter !merge !diff
latest-release-downloads-20260418_152457/xrayKnife/Xray-knife-linux-64.zip !text !filter !merge !diff
latest-release-downloads-20260418_152457/zedSecure/ZedSecure-v1.8.1-arm64-v8a.apk !text !filter !merge !diff
range-scout-v0.1.1-universal-release-signed.apk !text !filter !merge !diff
